@import "../pages/normalize.module.css";
@import url("https://p.typekit.net/p.css?s=1&k=mkk7zfs&ht=tk&f=10881.10882.10884.10885.15357.15358.15361.15362.32874.32875&a=50854053&app=typekit&e=css");
$color-fontWhite: #E3E3DC;
$color-fontBrown: #685950;
$color-backgroundGrey:#D9D9D7;
$color-backgroundLightGrey:#E3E3DC;
$color-button:#A8957E;
$color-line:#707070;
$font-title:70px;
$font-subtitle:25px;
$font-text:20px;
@font-face {
    font-family: "Reislust";
    src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
    font-family: "FuturaPTNormal";
    src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
    font-family: "FuturaPTMedium";
    src: url("../fonts/FuturaPTMedium.otf");
}
@font-face {
    font-family: "FuturaPTbold";
    src: url("../fonts/FuturaPTBold.otf");
}
@font-face {
    font-family: "FuturaPTNormalOblique";
    src: url("../fonts/FuturaPTBookOblique.otf");
}

p {
    font-family: "FuturaPTNormal";
}
h1{
    font-family: "Reislust";
    font-size: $font-title;

    
    @media (max-width: 1024px){
        font-size: 54px;
    }
}
label{
    font-size: $font-subtitle;
    font-family: "FuturaPTbold";
    @media (max-width: 1024px){
        font-size: 21px;
    }
}

.dates{
    font-size: $font-text;
    font-family: "FuturaPTbold";
}
.wrapperCtc{
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 6vw;
    display: flex;
    width: 88vw;
    background-color: white;
    p, div, h1, h2, label {
        color: $color-fontBrown;
    }
    @media (max-width: 1024px){
        overflow: hidden;
    }
}
.contactLayout{
    
    overflow: hidden; 
    display: block;
    column-gap: 3.5vw;
    margin-top: 5h;
    margin-bottom: 11vh;
    width: auto;
    @media (max-width: 1024px){
        margin-right: 6vw;
        margin-left: 6vw;
        margin-bottom: 0;
        
    }
    h1{
        grid-area: 1/1/2/4;
        margin-left: 5vh;
        font-size: calc(3.5rem + ((1vw - 7.5px) * 1.1966));
        @media (max-width: 1024px){
            margin: 0 auto;
            line-height: 2;
            font-size: 44px;
            text-align: center;
        }
    }
    
    
}
.img{
    height: auto;
    width: 31vw;
    @media (max-width: 1024px){
        display: none;
    }
    
}
.contact{ 
    width: 100%;
    height: auto;
    display: flex;
    gap: 2vw;
    @media (max-width: 1024px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
    }
}
.form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 3.5vh;
    margin-left: 5vh;
    @media (max-width: 1024px){
        width: 100%;
        margin-left: 0;
    }
    .lbl{
        
        display: flex;
        flex-direction: column;
    }
    input{
        height: 3.8vh;
        border: none;
        border-bottom: 1px solid $color-line;
        
    }
    ::placeholder{
        color: $color-fontWhite;
        font-size: $font-text;
        font-family: "FuturaPTNormal";
        @media (max-width: 1024px){
            font-size: 18px;
        }
    }
    textarea{
        height: 13.5vh;
        border: 1px solid $color-line;
    }
    
}
.horaire{
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px){
        margin-top: 6vh;
        height: auto;
        width: 100%;
    }
    div{
        width: 80%;
        line-height: 2;
        @media (max-width: 1024px){
            font-size: 18px;
            line-height: 3;
        }
    }
    .ouverture{
        font-size: $font-subtitle;
        font-family: "FuturaPTbold";
        margin-left: 0;
        margin: 0 auto;
        @media (max-width: 1024px){
            font-size: 21px;
        }
    }
    p{
        width: 80%;
        @media (max-width: 1024px){
            width: 90%;
            font-size: 18px;
        }
    }
}

.bouteilles{
    width: auto;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 1024px){
        width: 100%;
        height: 20vh;
        display: flex;
        
    }
    .rouge1{
        background: url("../asset/Laudria_Rouge.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 19vh;
        @media (max-width: 1024px){
            display: none;
        } 
    }
    .rouge12{
        background: url("../asset/Primizia_Rouge.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 19vh;
        @media (max-width: 1024px){
            display: none;
        } 
    }
    .rouge13{
        background: url("../asset/Spargolato_Rouge.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 19vh;
        @media (max-width: 1024px){
            display: none;
        } 
    }
    .rouge21{
        display: none;
        @media (max-width: 1024px){
            display: block;
            background: url("../asset/Laudria_Rouge2.png");
            background-size: 15vh;
            background-repeat: no-repeat;
            height: 15vh;
            width: 100%;
            background-position-x: center;
            align-self: flex-end;
            
        } 
    }
    .rouge22{
        display: none;
        @media (max-width: 1024px){
            display: block;
            background: url("../asset/Primizia_Rouge2.png");
            background-size: 15vh;
            background-repeat: no-repeat;
            height: 15vh;
            width: 100%;
            background-position-x: center;
            align-self: flex-end;
            
        } 
    }
    .rouge23{
        display: none;
        @media (max-width: 1024px){
            display: block;
            background: url("../asset/Spargolato_Rouge2.png");
            background-size: 15vh;
            background-repeat: no-repeat;
            height: 15vh;
            width: 100%;
            background-position-x: center;
            align-self: flex-end;
            
        } 
    }
}
.envoyer{
    color: $color-button;
    background-color: transparent;
    border: 2px solid #a8957e;
    border-radius: 4px;
    width: auto;
    justify-self: right;
    padding: 0.5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    align-self: flex-end;
    font-size: $font-text;
    font-family: "FuturaPTNormal";
    
    @media (max-width: 1024px){

        color: $color-button;
        background-color: transparent;
        border: 1px solid #A8957E;
        align-self: center;
        font-size: 18px;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        padding-left: 6vw;
        padding-right: 6vw;
    }
}
.envoyer:hover{
    color: white;
    border: 1px solid #A8957E;
    background-color: $color-button;
    font-family: "FuturaPTNormal";
    
    
    @media (max-width: 1024px){
        color: white;
        background-color: $color-button;
        border: none;
    }

}
