@import "../pages/normalize.module.css";
@font-face {
  font-family: "Reislust";
  src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
  font-family: "FuturaText";
  src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
  font-family: "FuturaSub";
  src: url("../fonts/FuturaPTCondMedium.otf");
}
@font-face {
  font-family: "FuturaLight";
  src: url("../fonts/FuturaPTLight.otf");
}
.wrapperAccueil {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Reislust";
  font-size: 7.2em;
  line-height: 1;
}

.section1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(19, 19, 19, 0.6) 75%, rgba(226, 226, 226, 0.7) 100%), url("../asset/accueilvigne.jpg");
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
  height: 104vh;
  margin-left: 6vw;
  margin-right: 6vw;
  display: grid;
  grid-template-columns: 30vw 1fr;
  column-gap: 10vw;
}
@media (max-width: 750px) {
  .section1 {
    height: 73vh;
    margin-bottom: 12vw;
  }
}
.section1 .bottle {
  grid-area: 1/1/2/2;
  position: relative;
  width: auto;
  margin-top: 8vh;
  height: 112vh;
  transform: translateX(-200%);
}
@media (max-width: 750px) {
  .section1 .bottle {
    height: 73vh;
    right: 45%;
  }
}
.section1 .block1 * {
  color: #d9d9d7;
}
.section1 .block1 {
  transform: translateX(200%);
  margin-right: 7vw;
  box-sizing: border-box;
  margin-top: 8vh;
  grid-area: 1/2/2/3;
}
@media (max-width: 750px) {
  .section1 .block1 {
    margin: 0 auto;
    align-self: center;
  }
}
.section1 .title {
  margin-top: 20vh;
}
@media (max-width: 750px) {
  .section1 .title {
    display: none;
  }
}
.section1 div p {
  line-height: 1.5;
  font-family: "FuturaText";
  font-size: 20px;
}
@media (max-width: 750px) {
  .section1 div p {
    font-size: 18px;
  }
}
.section1 div h2 {
  font-family: "FuturaText";
  line-height: 2;
  font-size: 25px;
}
@media (max-width: 750px) {
  .section1 div h2 {
    font-size: 21px;
    line-height: 1.5;
  }
}
.section1 .gamme {
  background-color: transparent;
  margin-top: 3vh;
  border: 3px solid #a8957e;
  border-radius: 4px;
  width: auto;
  height: auto;
  padding: 5px;
}
@media (max-width: 750px) {
  .section1 .gamme {
    margin-bottom: 5vh;
    width: auto;
  }
}
.section1 .gamme a {
  text-decoration: none;
  font-family: "FuturaText";
  font-size: 20px;
  color: #a8957e;
  margin: 2vw;
}
@media (max-width: 750px) {
  .section1 .gamme a {
    font-size: 18px;
  }
}
.section1 .gamme:hover {
  background-color: #a8957e;
}
.section1 .gamme:hover .a {
  color: #e3e3dc;
}

.section2 {
  color: #e3e3dc;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(19, 19, 19, 0.7) 75%, rgba(226, 226, 226, 0.7) 150%), url("../asset/nosvins-bandeau.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}
@media (max-width: 750px) {
  .section2 {
    height: auto;
  }
}
.section2 .title {
  line-height: 2;
}
.section2 .domainimg {
  height: 310px;
  width: 310px;
  border-radius: 100%;
  margin-top: 5vh;
}
.section2 div {
  margin-top: 5vh;
  width: 50%;
  color: #e3e3dc;
}
@media (max-width: 750px) {
  .section2 div {
    width: 80%;
    margin-bottom: 5vh;
  }
}
.section2 div p {
  color: #e3e3dc;
  line-height: 1.5;
  font-family: "FuturaText";
  font-size: 20px;
}
.section2 div h2 {
  color: #e3e3dc;
  font-family: "FuturaText";
  line-height: 3;
  font-size: 25px;
}
.section2 .gamme {
  margin-top: 3vh;
  background-color: transparent;
  border: 3px solid #a8957e;
  border-radius: 4px;
  width: auto;
  height: auto;
  padding: 5px;
  margin-bottom: 5vh;
}
@media (max-width: 750px) {
  .section2 .gamme {
    margin-bottom: 5vh;
  }
}
.section2 .gamme a {
  text-decoration: none;
  font-family: "FuturaText";
  font-size: 20px;
  color: #a8957e;
}
@media (max-width: 750px) {
  .section2 .gamme a {
    font-size: 0;
  }
}
@media (max-width: 750px) {
  .section2 .gamme a::after {
    margin: 2vw;
    content: "VOIR PLUS";
    font-size: 20px;
  }
}
.section2 .gamme:hover {
  background-color: #a8957e;
}
.section2 .gamme:hover .a {
  color: #e3e3dc;
}

.section3 {
  background-color: #d9d9d7;
  display: grid;
  grid-template-columns: 20vw 80vw;
  width: 100%;
  height: auto;
}
@media (max-width: 750px) {
  .section3 {
    height: auto;
    width: 100vw;
    display: flex;
  }
}
.section3 * {
  color: #685950;
}
.section3 .sliderimg {
  width: auto;
  height: 100%;
  background: url("../asset/accueilnosvins.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 750px) {
  .section3 .sliderimg {
    display: none;
  }
}
.section3 .title {
  color: #685950;
  text-align: left;
}
.section3 .sliderContain {
  display: flex;
  flex-direction: column;
}
@media (max-width: 750px) {
  .section3 .sliderContain {
    margin: 0 auto;
  }
}
.section3 .sliderContain .b0 {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 15px;
}
.section3 .sliderContain .b1 {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 15px;
}
.section3 .sliderContain .b2 {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 15px;
}
.section3 .sliderContain .selected {
  background-color: #a8957e;
}
.section3 .sliderContain .glob {
  display: flex;
  width: 13.59vw;
  justify-content: space-around;
  margin-bottom: 5vh;
  margin-left: 8vh;
  grid-column: 2;
}
@media (max-width: 750px) {
  .section3 .sliderContain .glob {
    margin-left: 130px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
.section3 .slider {
  display: grid;
  grid-template-columns: 10vw 58vw 10vw;
  align-items: center;
  width: auto;
  height: 100%;
}
.section3 .slider svg {
  height: auto;
  width: 100%;
}
.section3 .slider svg path {
  color: #685950;
}
.section3 .slider div p {
  font-family: "FuturaText";
  font-size: 20px;
  width: 100%;
}
.section3 .slider div h2 {
  font-family: "FuturaText";
  font-size: 25px;
}

.section4 {
  height: 94vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 750px) {
  .section4 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.section4 * {
  color: #685950;
}
.section4 .pressimg {
  width: 43vw;
  justify-self: right;
}
@media (max-width: 750px) {
  .section4 .pressimg {
    width: auto;
  }
}
.section4 .pressimg img {
  width: 100%;
  height: 100%;
}
@media (max-width: 750px) {
  .section4 .pressimg img {
    width: 100%;
    height: auto;
  }
}
.section4 .pressContain {
  width: 27vw;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}
@media (max-width: 750px) {
  .section4 .pressContain {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
}
.section4 div p {
  font-family: "FuturaText";
  font-size: 20px;
  line-height: 1.5;
}
.section4 div h2 {
  margin-top: 14vh;
  font-family: "FuturaText";
  font-size: 25px;
  line-height: 2;
}
@media (max-width: 750px) {
  .section4 div h2 {
    margin: 0 auto;
  }
}
.section4 .pressBlock {
  margin-top: 2vh;
  height: 100%;
}
@media (max-width: 750px) {
  .section4 .pressBlock {
    margin: 6vw;
    height: auto;
  }
}
.section4 .gamme {
  margin-top: 3vh;
  border: 3px solid #a8957e;
  background-color: transparent;
  border-radius: 4px;
  width: auto;
  height: auto;
  padding: 5px;
}
.section4 .gamme a {
  text-decoration: none;
  font-family: "FuturaText";
  font-size: 20px;
  color: #a8957e;
}
@media (max-width: 750px) {
  .section4 .gamme a {
    font-size: 0;
  }
}
@media (max-width: 750px) {
  .section4 .gamme a::after {
    margin: 2vw;
    content: "VOIR PLUS";
    font-size: 20px;
  }
}
.section4 .gamme:hover {
  background-color: #a8957e;
}
.section4 .gamme:hover a {
  color: #e3e3dc;
}

/*# sourceMappingURL=index.module.css.map */
