@import "../pages/normalize.module.css";
$color-fontWhite: #E3E3DC;
$color-fontBrown: #685950;
$color-backgroundGrey:#D9D9D7;
$color-backgroundLightGrey:#E3E3DC;
$color-button:#A8957E;
$color-line:#707070;
$font-title:7.2em;
$font-subtitle:25px;
$font-text:20px;
@font-face {
    font-family: "Reislust";
    src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
    font-family: "FuturaText";
    src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
    font-family: "FuturaSub";
    src: url("../fonts/FuturaPTCondMedium.otf");
}
@font-face {
    font-family: "FuturaLight";
    src: url("../fonts/FuturaPTLight.otf");
}
p {
    font-family: "FuturaText";
}
h1{
    font-family: "Reislust";
}
.wrapperPresse{
    width: auto;
    height: auto;
    background-color: red;
    margin-left: 17vw;
    margin-right: 17vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 6vw;
    
    
}
.presse{
    grid-area: 1/1/2/3;
    h1{
        font-size: 100px;
    }
}
.articles{
    h1{
        font-size: 65px;
    }
    display: block;
    width: 100%;
    
    object-fit: fill;
    border-radius: 5px;
    img{
        width: 70%;
    }
}