@import "../pages/normalize.module.css";
@import url("https://p.typekit.net/p.css?s=1&k=mkk7zfs&ht=tk&f=10881.10882.10884.10885.15357.15358.15361.15362.32874.32875&a=50854053&app=typekit&e=css");
$color-fontWhite: #e3e3dc;
$color-fontBrown: #685950;
$color-backgroundGrey: #d9d9d7;
$color-backgroundLightGrey: #e3e3dc;
$color-button: #a8957e;
$color-line: #707070;
$font-title: 70px;
$font-subtitle: 25px;
$font-text: 20px;
@font-face {
  font-family: "Reislust";
  src: local("Reislust"), url("../fonts/Reislust-97D7.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "FuturaPTNormal";
  src: local("FuturaPTNormal"),
    url("../fonts/FuturaPTBook.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "FuturaPTMedium";
  src: local("FuturaPTMedium"),
    url("../fonts/FuturaPTMedium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "FuturaPTbold";
  src: local("FuturaPTbold"),
    url("../fonts/FuturaPTBold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "FuturaPTNormalOblique";
  src: local("FuturaPTNormalOblique"),
    url("../fonts/FuturaPTBookOblique.otf") format("opentype");
  font-display: swap;
}

.wrapperPresse {
  width: auto;
  height: auto;
  margin-left: 10vw;
  margin-right: 10vw;
  * {
    color: $color-fontBrown;
    text-align: left;
  }
  @media (max-width: 1024px) {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  p {
    font-family: "FuturaPTNormal";
    font-size: $font-text;
    line-height: 1.5;
    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }
}
.presse {
  h1 {
    font-size: 100px;
    font-family: "Reislust";
    line-height: 0;
    @media (max-width: 1024px) {
      text-align: center;
      font-size: 60px;
      line-height: 1;
    }
  }
  h2 {
    font-size: $font-subtitle;
    font-family: "FuturaPTMedium";

    @media (max-width: 1024px) {
      text-align: center;
      font-size: 18px;
      font-family: "FuturaPTbold";
      line-height: 2;
    }
  }
  p {
    @media (max-width: 1024px) {
      text-align: center;
      font-family: "FuturaPTMedium";
      font-size: 14px;
    }
  }
  @media (max-width: 1024px) {
    padding-bottom: 5vh;
  }
}
.container {
  display: flex;
  column-gap: 4vw;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
.gauche {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;

  .articlesGauche {
    h1 {
      font-size: 65px;
      line-height: 0.8;
      @media (max-width: 1024px) {
        text-align: center;
        font-size: 34px;
      }
    }
    .block {
      display: flex;
      flex-direction: column;
      gap: 5vh;
      width: 90%;
      line-height: 1.5;
      @media (max-width: 1024px) {
        align-items: center;
        width: 100%;
      }
      p {
        @media (max-width: 1024px) {
          text-align: center;
          font-family: "FuturaPTMedium";
          font-size: 14px;
        }
      }
      img {
        width: 80%;
        @media (max-width: 1024px) {
          width: 60%;
        }
      }
      strong {
        @media (max-width: 1024px) {
          font-family: "FuturaPTbold";
          font-size: 16px;
        }
      }
      padding-bottom: 10vh;
    }
    border-bottom: $color-line solid 1px;
    @media (max-width: 1024px) {
      border: none;
      width: 80vw;
    }
  }
}
.gauche .articlesGauche:last-child {
  border: none;
}
.droite {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  .articlesDroite {
    h1 {
      font-size: 65px;
      line-height: 0.8;
      @media (max-width: 1024px) {
        text-align: center;
        font-size: 34px;
      }
    }

    .block {
      display: flex;
      flex-direction: column;
      gap: 5vh;
      width: 90%;
      line-height: 1.5;
      @media (max-width: 1024px) {
        align-items: center;
        width: 100%;
      }
      p {
        @media (max-width: 1024px) {
          text-align: center;
          font-family: "FuturaPTMedium";
          font-size: 14px;
        }
      }
      img {
        width: 80%;
        @media (max-width: 1024px) {
          width: 60%;
        }
      }
      strong {
        @media (max-width: 1024px) {
          font-family: "FuturaPTbold";
          font-size: 16px;
        }
      }
      padding-bottom: 10vh;
    }
    border-bottom: $color-line solid 1px;
    @media (max-width: 1024px) {
      border: none;
      width: 80vw;
    }
  }
}
.droite .articlesDroite:last-child {
  border: none;
}
strong {
  font-family: "FuturaPTMedium";
  font-weight: normal;
}
