@import "../pages/normalize.module.css";
$color-fontWhite: #E3E3DC;
$color-fontBrown: #685950;
$color-backgroundGrey:#D9D9D7;
$color-backgroundLightGrey:#E3E3DC;
$color-button:#A8957E;
$color-line:#707070;
$font-title:7.2em;
$font-subtitle:25px;
$font-text:20px;
@font-face {
    font-family: "Reislust";
    src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
    font-family: "FuturaText";
    src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
    font-family: "FuturaSub";
    src: url("../fonts/FuturaPTCondMedium.otf");
}
@font-face {
    font-family: "FuturaLight";
    src: url("../fonts/FuturaPTLight.otf");
}


.bandeau{
    background: 
    url("../asset/nosvins-bandeau.jpg");
    height: 30vh;
    background-position: center 23%;
    background-size: cover;
    @media (max-width: 750px){
        height: 13vh;
    }
}
.domainContain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    * {
        color: $color-fontBrown;
    }
    .title{
        font-family: "Reislust";
        font-size: 7.2rem;
    }
    .content{
        display: flex;
        @media (max-width: 750px){
            flex-direction: column;
        }
    }
    .gammes{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5vw;
        .logo{
            width: 165px;
            height: auto;
        }
        .block{
            background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 12px;
            opacity: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            @media (max-width: 750px){
                border-radius: 0;
                width: 80%;
            }
            button{
                margin: 2vw;
                border: 3px solid #A8957E;
                background-color: transparent;
                border-radius: 4px;
                align-self: center;
                width: 40%;
                height: auto;
                padding: 5px;
                a{
                    text-decoration: none;
                    font-family: "FuturaText";
                    font-size: $font-text;
                    color: $color-button;
                }
            }
            button:hover{
                background-color: $color-button;
                a{
                    color: $color-backgroundLightGrey;
                }
            }
            
            p {
                font-family: "FuturaText";
                font-size: 20px;
                line-height: 1.5;
                margin: 2vh;
            }
            h2 {
                font-family: "FuturaText";
                font-size: 20px;
                line-height: 1.5;
            }
            h1{
                font-family:  "Reislust";
                font-size: 5.625em;
                margin: 0 auto;
            }
            
        }
        
    }
}

