@import "../pages/normalize.module.css";
$color-fontWhite: #E3E3DC;
$color-fontBrown: #685950;
$color-backgroundGrey:#D9D9D7;
$color-backgroundLightGrey:#E3E3DC;
$color-button:#A8957E;
$color-line:#707070;
$font-title:6.25em;
$font-subtitle:25px;
$font-text:20px;
@font-face {
    font-family: "Reislust";
    src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
    font-family: "FuturaText";
    src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
    font-family: "FuturaSub";
    src: url("../fonts/FuturaPTCondMedium.otf");
}
@font-face {
    font-family: "FuturaLight";
    src: url("../fonts/FuturaPTLight.otf");
}
.ntm {
    color:red;
}
.wrapper {
    * {
        color: $color-fontBrown;
    }
    background-color: $color-backgroundGrey;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 330px;
    a{
        text-decoration: none;
        font-size: $font-text;
        font-family: "FuturaText";
    }
}


.container{ 
    height: 228px;
    margin-top: 54px;
    width: 70vw;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    
}
.domainMondange{
    grid-area: 1/2/2/3;
    justify-self: center;
    a{
        font-family: "Reislust" !important;
        font-size: 4.62em;
        line-height: 1;
    }
    
}
.contact{
    font-size: $font-text;
    font-family: "FuturaText";
    grid-area: 1/1/2/2;
    line-height: 2;
    
}

.plansite{
    
    grid-area: 1/3/2/4;
    font-size: $font-subtitle;
    justify-self: center;
    .plan{
        font-family: "FuturaSub";
        
    }
    .ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: column;
        list-style-type: none;
        column-gap: 1vw;
        
        .li{
            margin-top: 2vh;
            font-family: "FuturaLight";
            border-bottom: $color-fontBrown solid 2px;
            
        }
    }
}
.follow{
    font-size: $font-subtitle;
    font-family: "FuturaSub";
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    
    
    .sociaux{
        display: flex;
        justify-content: space-between;
        div{
            font-size: 30px;
        }
    }
}
.container2{
    font-size: $font-text;
    font-family: "FuturaText";
    font-style: italic;
    width: 70vw;
    margin-top: 13.5px;
    display: grid;
    grid-template-columns: repeat(2, 0.9fr) 1.2fr ;

}
.bar{
    grid-area: 1/1/2/4;
    border-bottom: 1px solid #707070;
    width: 100%;
}
.domainMondange2{
    grid-area: 1/1/2/2;
}
.cgv{
    grid-area: 1/3/2/4;
    display: flex;
    gap: 0.5vw;
    justify-self: right;
}