@import "../pages/normalize.module.css";
@import url("https://p.typekit.net/p.css?s=1&k=mkk7zfs&ht=tk&f=10881.10882.10884.10885.15357.15358.15361.15362.32874.32875&a=50854053&app=typekit&e=css");
$color-fontWhite: #E3E3DC;
$color-fontBrown: #685950;
$color-backgroundGrey:#D9D9D7;
$color-backgroundLightGrey:#E3E3DC;
$color-button:#A8957E;
$color-line:#707070;
$font-title:70px;
$font-subtitle:25px;
$font-text:20px;
@font-face {
    font-family: "Reislust";
    src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
    font-family: "FuturaPTNormal";
    src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
    font-family: "FuturaPTMedium";
    src: url("../fonts/FuturaPTMedium.otf");
}
@font-face {
    font-family: "FuturaPTbold";
    src: url("../fonts/FuturaPTBold.otf");
}
@font-face {
    font-family: "FuturaPTNormalOblique";
    src: url("../fonts/FuturaPTBookOblique.otf");
}
.ntm {
    color:red;
}
.wrapper {
    * {
        color: $color-fontBrown;
    }
    background-color: $color-backgroundGrey;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    
    a{
        text-decoration: none;
        font-size: $font-text;
        font-family: "FuturaPTNormal";
    }
    
}


.container{ 
    margin-top: 54px;
    width: 80vw;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(2,1fr);
    margin-bottom: 3vh;
    @media (max-width: 750px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: 0 auto;
    }
    
}

.domainMondange{
    grid-area: 1/2/2/3;
    justify-self: center;
    text-align: center;
    a{
        font-family: "Reislust" !important;
        font-size: 74px;
        // line-height: 1;
        @media (max-width: 750px){
            line-height: 2;
        }

    }
    @media (max-width: 750px){
        text-align: center;
        grid-area: 1/1/2/3;
    }
    
}
.contact{
    font-size: $font-text;
    font-family: "FuturaPTNormal";
    grid-area: 1/1/3/2;
    line-height: 1;
    @media (max-width: 750px){
        border-bottom: $color-line solid 2px;
        text-align: center;
        grid-area: 2/1/3/3;
        padding-bottom: 3vh;  
    }
    
}

.plansite{
    grid-area: 1/3/3/4;
    font-size: $font-subtitle;
    justify-self: center;
    @media (max-width: 750px){
        margin: 3vw;
        grid-area: 3/1/4/2;
        justify-self: left;
    }
    .plan{
        font-family: "FuturaPTMedium";
        font-size: $font-subtitle;
        
    }
    .ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: column;
        list-style-type: none;
        column-gap: 1vw;
        @media (max-width: 750px){
            display: block;
        }
        .li{
            margin-top: 2vh;
            font-family: "FuturaPTNormal";
            border-bottom: $color-line solid 2px;
            @media (max-width: 750px){
                width: 20%;
                border: none;
            }
        }
    }
}
.follow{
    font-size: $font-subtitle;
    font-family: "FuturaPTMedium";
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    @media (max-width: 750px){
        grid-area: 3/2/4/3;
        display: block;
        justify-self: right;
        align-self: center;
        margin-right: 8vw;
    }
    .us {
        text-align: center;
        font-size: $font-subtitle;
        font-family: "FuturaPTMedium";
    }
    
    .sociaux{
        display: flex;
        justify-content: space-between;
        @media (max-width: 750px){
            justify-content: center;
            align-self: center;
            margin-top: 3vh;
            gap: 3vw;
        }
        svg{
            height: 30pt;
            width: 30pt;   
        }
    }
}
.bar{
    content: " ";
    grid-area: 1/1/2/4;
    border-bottom: 1pt solid #707070;
    width: 100%;
    
}
.container2{
    *{
        color: #98928D;
        font-size: $font-text;
        font-family: "FuturaPTNormalOblique";
        
    }
    margin-bottom: 2vh;
    width: 80vw;
    margin-top: 13.5px;
    display: grid;
    grid-template-columns: repeat(2, 0.9fr) 1.2fr ;
    @media (max-width: 750px){
        display: block;
        width: 100%;
        margin: 3vw auto;
        font-size: 12pt;
        line-height: 1.5;
    }
    a{
        font-size: $font-text;
        font-family: "FuturaPTNormalOblique";
    }

}
.domainMondange2{
    grid-area: 1/1/2/2;
    @media (max-width: 750px){
        margin-left: 3vw;
    }
}
.cgv{
    grid-area: 1/2/2/4;
    display: flex;
    gap: 0.5vw;
    justify-self: right;
    @media (max-width: 750px){
        margin-left: 3vw;
        gap: 1vw;
    }
}