@import "../pages/normalize.module.css";
$color-fontWhite: #E3E3DC;
$color-fontBrown: #685950;
$color-backgroundGrey:#D9D9D7;
$color-backgroundLightGrey:#E3E3DC;
$color-button:#A8957E;
$color-line:#707070;
$font-title:7.2em;
$font-subtitle:25px;
$font-text:20px;
@font-face {
    font-family: "Reislust";
    src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
    font-family: "FuturaText";
    src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
    font-family: "FuturaSub";
    src: url("../fonts/FuturaPTCondMedium.otf");
}
@font-face {
    font-family: "FuturaLight";
    src: url("../fonts/FuturaPTLight.otf");
}
* {
    color: $color-button;
}
p {
    font-family: "FuturaText";
    font-size: $font-text;
    @media (max-width: 750px){
        font-size: 18px;
    }
    
}
h1{
    font-family: "Reislust";
    font-size: $font-title;
    @media (max-width: 750px){
        font-size: 46px;
    }
}
.wrapper{
    display: flex;
    flex-direction: column;
    .btt{
        display: flex;
        flex-direction: column;
        align-content: center;
        @media (max-width: 750px){
            display: none;
        }
        a{
            width: 10vw;
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            bottom: 10vh;
            right: 5vw;
        }
        .icon{
            font-size: 58px;
        }
        p{
            font-size: $font-text;
        }
    }
}
.desc{
    border-top: 2px solid $color-line;
    border-bottom: 2px solid $color-line;
    text-align: center;
    width: 100%;
    @media (max-width: 750px){
        border-bottom: none ;
    }
    *{
        color: $color-fontBrown;
    }
    .title{
        font-family: "Reislust";
        font-size: calc(5.125rem + ((1vw - 5.68px) * 19.0972));
        @media (max-width: 750px){
            font-size: 82px;
        }
   
    }
    .descText{
        justify-content: space-around;
        display: flex;
        *{
            line-height: 1.5;
        }
        :first-child{
            width: 44vw;
            h3{
                font-family: "FuturaSub";
                font-size: $font-subtitle;
            }
        }
    }
    .logo{
        width: 15vw;
        height: auto;
    }
}
.gameBg{
    line-height: 1;
    .game:nth-child(2n){
        background-color: $color-backgroundGrey;
    }
}
.game{
    margin-top: 5vh;
    margin-bottom: 5vh;
    *{
        color: $color-fontBrown;
        line-height: 1.5;
        @media (max-width: 750px){
            line-height: 1;
        }
        
    }
    .gameBg2{
        margin-left: 23vw;
        margin-right: 17vw;
        display: grid;
        grid-template-columns: 23vw 38vw;
        @media (max-width: 750px){
            margin-left: 10vw;
            margin-right: 6vw;
            grid-template-columns: 38vw 48vw;
        }

    }
    img{
        width: 100%; 
        height: 100%;
    }
    .gameText{
        justify-self: center;
        align-self: center;
    }
    h2{
        line-height: 2;
        font-size: $font-subtitle;
        @media (max-width: 750px){
            font-size: 21px;
        }
    }
    button{
        width: auto;
        height: auto;
        font-size: $font-text;
        color: $color-button;
        border: 3px solid #A8957E;
        border-radius: 4px;
        background-color: transparent;
        margin-top: 2vh;
        @media (max-width: 750px){
            font-size: 18px;
        }
    }
}
.bandeau{
    overflow: hidden;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    align-items: flex-end;
    width: 100%;
    height: 35vh;
    padding: 0;
    @media (max-width: 750px){
        display: flex;
        justify-content: center;
        height: auto;
    }
    .img{
        width: 100%;
        height: 100%;
        display: flex;
        align-self: flex-end;
        justify-content: space-around;
        column-gap: 1vw;   
        @media (max-width: 900px){
            height: 30vh;
            justify-content: center;
        }   
    }
    .retour{
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-self: right;
        // padding-bottom: 2vh;
        padding-right: 2vw;
        *{
            color: $color-fontBrown;
        }
        @media (max-width: 750px){
            display: none;
        }
        
        
        
    }
    .arrow{
        color: $color-fontBrown;
        font-size: 58px;
    }
    .back{
        color: $color-fontBrown;
        font-size: $font-subtitle;
        font-family: "FuturaSub";
    }
}
