@import "../pages/normalize.module.css";
@import url("https://p.typekit.net/p.css?s=1&k=mkk7zfs&ht=tk&f=10881.10882.10884.10885.15357.15358.15361.15362.32874.32875&a=50854053&app=typekit&e=css");
@font-face {
  font-family: "Reislust";
  src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
  font-family: "FuturaPTNormal";
  src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
  font-family: "FuturaPTMedium";
  src: url("../fonts/FuturaPTMedium.otf");
}
@font-face {
  font-family: "FuturaPTBold";
  src: url("../fonts/FuturaPTBold.otf");
}
@font-face {
  font-family: "FuturaPTNormalOblique";
  src: url("../fonts/FuturaPTBookOblique.otf");
}
p {
  font-family: "FuturaPTNormal";
  font-size: 20px;
}
@media (max-width: 768px) {
  p {
    font-size: 18px;
  }
}

h1 {
  font-family: "Reislust";
  font-size: 70px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 46px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper .btt {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.wrapper .btt a {
  color: #685950;
  text-decoration: none;
  width: auto;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 10vh;
  right: 5vw;
}
@media (max-width: 768px) {
  .wrapper .btt a {
    bottom: 5vh;
  }
}
.wrapper .btt .icon {
  font-size: 58px;
}
.wrapper .btt p {
  font-size: 20px;
}
.wrapper .gameBg:nth-child(2n) {
  background-color: #D9D9D7;
}
.wrapper .gameBg {
  height: 100vh;
}
@media (max-width: 1024px) {
  .wrapper .gameBg {
    height: auto;
  }
}
@media (max-width: 768px) {
  .wrapper .gameBg {
    height: auto;
  }
}

.desc {
  border-top: 2px solid #707070;
  border-bottom: 2px solid #707070;
  height: 60vh;
  text-align: center;
  padding-bottom: 5vh;
  width: 100%;
}
@media (max-width: 1024px) {
  .desc {
    height: auto;
  }
}
@media (max-width: 768px) {
  .desc {
    border-bottom: none;
    padding-bottom: 0;
  }
}
.desc * {
  color: #685950;
}
.desc .title {
  font-family: "Reislust";
  font-size: calc(5.125rem + ((1vw - 5.68px) * 19.0972));
  line-height: 0.5;
}
@media (max-width: 768px) {
  .desc .title {
    font-size: 82px;
    margin-top: 5vh;
  }
}
.desc .descText {
  justify-content: space-around;
  display: flex;
}
.desc .descText * {
  line-height: 1.5;
}
.desc .descText :first-child {
  width: 60vw;
}
@media (max-width: 768px) {
  .desc .descText :first-child {
    width: 80vw;
  }
}
.desc .descText :first-child h2 {
  font-family: "FuturaPTMedium";
  font-size: 25px;
  font-weight: normal;
  line-height: 2;
}
@media (max-width: 768px) {
  .desc .descText :first-child h2 {
    font-family: "FuturaPTBold";
    font-size: 16px;
    line-height: 3;
  }
}
@media (max-width: 768px) {
  .desc .descText :first-child p {
    font-family: "FuturaPTMedium";
    font-size: 14px;
  }
}
.desc .logo {
  width: 88px;
  height: auto;
}
@media (max-width: 768px) {
  .desc .logo {
    margin: 0 auto;
  }
}

.game {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 100%;
}
@media (max-width: 1024px) {
  .game {
    height: auto;
  }
}
@media (max-width: 768px) {
  .game {
    height: auto;
  }
}
.game * {
  color: #685950;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .game * {
    line-height: 1;
  }
}
.game .gameBg2 {
  margin-left: 17vw;
  margin-right: 17vw;
  height: 100%;
  display: grid;
  grid-template-columns: 25vw auto;
}
@media (max-width: 768px) {
  .game .gameBg2 {
    margin-left: 6vw;
    margin-right: 6vw;
  }
}
.game amp-img {
  width: 359px;
  height: 720px;
}
@media (max-width: 1024px) {
  .game amp-img {
    width: 275px;
    height: 540px;
  }
}
@media (max-width: 768px) {
  .game amp-img {
    width: 108px;
    height: 253px;
    justify-self: center;
    align-self: center;
  }
}
.game .gameText {
  justify-self: center;
  align-self: center;
}
.game .gameText button {
  width: auto;
  height: auto;
  font-size: 20px;
  font-family: "FuturaPTNormal";
  color: #A8957E;
  border: 3px solid #A8957E;
  border-radius: 4px;
  background-color: transparent;
  margin-top: 5vh;
}
@media (max-width: 1024px) {
  .game .gameText button {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .game .gameText button {
    font-size: 14px;
  }
}
.game .gameText button a {
  text-decoration: none;
  color: #A8957E;
  margin: 2vh;
}
.game .gameText button:hover {
  background-color: #A8957E;
}
.game .gameText button:hover a {
  color: #E3E3DC;
}
.game h2 {
  font-family: "FuturaPTMedium";
  font-size: 25px;
  font-weight: normal;
  line-height: 2;
}
@media (max-width: 1024px) {
  .game h2 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .game h2 {
    font-family: "FuturaPTBold";
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .game p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .game p {
    font-family: "FuturaPTMedium";
    font-size: 14px;
    line-height: 1.5;
  }
}
.game h1 {
  line-height: 0;
}

.bandeau {
  overflow: hidden;
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  align-items: flex-end;
  width: 100%;
  height: 30vh;
  padding: 0;
}
@media (max-width: 1024px) {
  .bandeau {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    height: 15vh;
  }
}
.bandeau .img {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: flex-end;
  gap: 5vw;
  justify-content: center;
}
@media (max-width: 1024px) {
  .bandeau .img {
    height: 25vh;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .bandeau .img {
    height: 15vh;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .bandeau .img a .btl {
    width: 84px !important;
    height: 120px;
    background-position-y: 0vh !important;
  }
}
.bandeau .retour {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-self: right;
  padding-right: 2vw;
}
.bandeau .retour * {
  color: #685950;
}
@media (max-width: 1024px) {
  .bandeau .retour {
    display: none;
  }
}
.bandeau .arrow {
  color: #685950;
  font-size: 58px;
}
.bandeau .back {
  color: #685950;
  font-size: 25px;
  font-family: "FuturaPTMedium";
}

/*# sourceMappingURL=game.module.css.map */
