@import "../pages/normalize.module.css";
$color-fontWhite: #E3E3DC;
$color-fontBrown: #685950;
$color-backgroundGrey:#D9D9D7;
$color-backgroundLightGrey:#E3E3DC;
$color-button:#A8957E;
$color-line:#707070;
$font-title:7.2em;
$font-subtitle:25px;
$font-text:20px;
@font-face {
    font-family: "Reislust";
    src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
    font-family: "FuturaText";
    src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
    font-family: "FuturaSub";
    src: url("../fonts/FuturaPTCondMedium.otf");
}
.wrapper{
    height: 17.169811320754718vh;
    width: 100%;
    background-color: $color-fontWhite;
    align-items: center;
    display: flex;
    justify-content: space-between;
    @media (max-width: 750px){
        height: auto;
    }
    .siteTitle{ 
        margin-left: 6vw;
        justify-self: left;
        a{   
            color: $color-fontBrown;
            font-family: "Reislust";
            font-size: $font-title;
            text-decoration: none;
            @media (max-width: 750px){
                font-size: 56px;
            }
        }
        
    }
    nav{
        width: 50vw;
        
        ul{
            justify-self: right;
            margin-right: 6vw;
            display: flex;
            justify-content: space-between;
        }
        li{
            list-style-type: none;
        }
        li a{
            text-decoration: none;
            font-size: $font-text;
            color: red;
            color: $color-fontBrown;
            font-family: "FuturaSub"; 
        }
        li a:hover{
            color: $color-button;
            font-weight: bold;
            
        }
    }
}


