@import "../pages/normalize.module.css";
$color-fontWhite: #E3E3DC;
$color-fontBrown: #685950;
$color-backgroundGrey:#D9D9D7;
$color-backgroundLightGrey:#E3E3DC;
$color-button:#A8957E;
$color-line:#707070;
$font-title:7.2em;
$font-subtitle:25px;
$font-text:20px;
@font-face {
    font-family: "Reislust";
    src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
    font-family: "FuturaText";
    src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
    font-family: "FuturaSub";
    src: url("../fonts/FuturaPTCondMedium.otf");
}
@font-face {
    font-family: "FuturaLight";
    src: url("../fonts/FuturaPTLight.otf");
}

p {
    font-family: "FuturaText";
    font-size: $font-text;
    
}
h1{
    font-family: "Reislust";
    font-size: $font-title;
}
.wrapperProduit{
    display: grid;
    grid-template-columns: 10vw repeat(2, 1fr);
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 6vw;
    height: 104vh;
    background-color: white;
    * {
        color: $color-fontBrown;
    }
    .bouteille{
        padding-top: 4vw;
        width: 30vw;
        height: auto;
    }
    
    .retour{
        display: flex;
        text-decoration: none;
        margin-top: 6vw;
        align-items: center;
        justify-content: center;
        height:   100px;
        .arrow{
            font-size: 58px;
        }
        .back{
            height: 58px;
            font-size: $font-subtitle;
            font-family: "FuturaSub";
            line-height: 2;
        }
    }    

    .game{
        align-self: center;
        margin-right: 6vw;
        display: block;
        width: auto;
        height: auto;
        .logo{
            width: auto;
            height: 254px;
            margin-top: -10vh;
            float: right;
            margin-right: 5vw;
            margin-left: 2.5vw;
        }
        h1{
            width: auto;
            font-size: 150px;
            line-height: 0;
        }
        .desc{
            width: 100%;
            padding-right: 5vw;
            
            
            * {
                line-height: 1.5;
            }
            div p:first-child{
                font-size: $font-text;
                font-family: "FuturaText";
                font-style: oblique;
            }
        }
    }
}