@import "../pages/normalize.module.css";
$color-fontWhite: #E3E3DC;
$color-fontBrown: #685950;
$color-backgroundGrey:#D9D9D7;
$color-backgroundLightGrey:#E3E3DC;
$color-button:#A8957E;
$color-line:#707070;
$font-title:50px;
$font-subtitle:20px;
$font-text:15px;
@font-face {
    font-family: "Reislust";
    src: url("../fonts/Reislust-97D7.ttf");
}
@font-face {
    font-family: "FuturaText";
    src: url("../fonts/FuturaPTBook.otf");
}
@font-face {
    font-family: "FuturaSub";
    src: url("../fonts/FuturaPTCondMedium.otf");
}
@font-face {
    font-family: "FuturaLight";
    src: url("../fonts/FuturaPTLight.otf");
}
* {
    color: $color-fontBrown;
}
p {
    font-family: "FuturaText";
    font-size: $font-text;
    
}
h1{
    font-family: "Reislust";
    font-size: $font-title;
}
.wrapperProduit{
    display: flex;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 6vw;
    height: 94vh;
    background-color: white;
    .bouteille{
        margin-top: 4vh;
        width: 29.58vw;
        height: 110vh;
    }
    .logo{
        background-color: green;
        width: 9vw;
        height: 27vh;
        float: right;
    }
    .retour{
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-self: right;
    }    
    .arrow{
        font-size: 58px;
    }
    .back{
        font-size: $font-subtitle;
        font-family: "FuturaSub";
    }
    .game{
        height: 100%;
        display: block;
        flex-direction: column;
        background-color: pink;
        
        h1{
            font-size: 9.4em;
            text-transform: uppercase;
            line-height: 0;
        }
        .desc{
            background-color: red;
            width: 44vw;
            height: auto;
            font-size: $font-text;
            * {
                line-height: 2em;
            }
            code{
                font-size: $font-text;
                font-family: "FuturaSub";
                font-style: oblique;
                width: 50%;
            }
            
            p{
                line-height: 1.2;
            }
        }
    }
}